.line{
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 150px;
    background-color: black;
}
.orders{
    /* border: 1px solid black; */
justify-content: center ;
}
body{
    background-color: white;
}
.neworder{
    border: 1px solid orangered;
    background-color: rgb(241, 90, 35);
    display: flex;
    align-items: center;
    width: 100%;
    
}

.gpic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    color: whitesmoke;
}
.view{
color: whitesmoke;
border: 2px solid whitesmoke;
padding: 5px 15px;
font-size: 22px;
margin: 30px;
margin-left: auto;
}
.view:hover{
    background-color: whitesmoke;
    color: black;
}
.download{
    margin-bottom: 20px;
}
.message-box {
    background: linear-gradient(rgba(22, 22, 22, 0.9), rgba(0, 0, 0, 0.9)), url(/img/bg-hero.jpg);
    background-attachment: fixed;
    min-height: 500px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}